<header>
    <h1>About Contoso University</h1>
    <h2>A place for learning, discovery, innovation, expression and discourse</h2>
    <img src="~/Content/contoso.jpg" alt="contoso performance hall" style="width:80%;outline:5px goldenrod solid;" />
    <header>
        <hr />
        <section>
            <table style="width:80%;text-align:center;">
                <tr>
                    <td style="width:50%;">
                        <h2>Opened in 1920</h2>
                    </td>
                    <td style="width:50%;">
                        <h2>Located in Traverse City, MI</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>20,000 students</h2>
                    </td>
                    <td>
                        <h2>2,000 faculty</h2>
                    </td>
                </tr>
            </table>
        </section>
        <hr />
