<header>
    <h2>General Contact Information</h2>
</header>

<section class="row">
    <address class="col-md-6">
        PRIMARY ADDRESS<br />
        Contoso University<br />
        2200 Ocean View Drive<br />
        Traverse City, MI 49696<br />
        <br />
        TELEPHONE<br />
        Campus operator<br />
        231-555-2300<br />
    </address>
    <p class="col-md-4" style="margin-top:3%;border:2px maroon solid;border-radius:20px;padding:10px;">
        Please note: University departments and offices have unique mailing addresses and phone numbers.
        Please consult the campus directory or departmental websites for more information.
    </p>
    </section>