<header class="jumbotron" style="background-color:maroon;color:white;">
    <h1>Contoso University</h1>
</header>
<h2>Explore what we have to offer!</h2>
<article class="row">
    <section class="col-md-4">
        <img src="~/Content/library.jpg" alt="library image"
             style="width:100%;border:5px maroon groove;padding:10px;" />
    </section>
    <section class="col-md-4">
        <img src="~/Content/graduates.jpg" alt="library image"
             style="width:100%;border:5px maroon groove;padding:10px;margin-top:20px;" />
    </section>
    <section class="col-md-4">
        <img src="~/Content/lounge.jpg" alt="library image"
             style="width:100%;border:5px maroon groove;padding:10px;" />
    </section>
</article>